@import url(http://fonts.googleapis.com/css?family=Raleway);
#navMenu,
#navMenu ul,
#navMenu ul li,
#navMenu ul li a,
#navMenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#navMenu:after,
#navMenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#navMenu #menu-button {
    display: none;
}
#navMenu {
    width: auto;
    font-family: Raleway, sans-serif;
    line-height: 1;
}
#navMenu > ul {
    background: #3db2e1;
}
#navMenu > ul > li {
    float: left;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
}
#navMenu.align-center > ul {
    font-size: 0;
    text-align: center;
}
#navMenu.align-center > ul > li {
    display: inline-block;
    float: none;
}
#navMenu.align-right > ul > li {
    float: right;
}
#navMenu > ul > li > a {
    padding: 16px 20px;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    background: #3db2e1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
#navMenu > ul > li.active > a {
    color: #dff2fa;
}
#navMenu > ul > li:hover > a,
#navMenu > ul > li > a:hover {
    color: #dff2fa;
    -webkit-transform: rotateX(90deg) translateY(-23px);
    -moz-transform: rotateX(90deg) translateY(-23px);
    transform: rotateX(90deg) translateY(-23px);
    -ms-transform: none;
}
#navMenu > ul > li > a::before {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 16px 20px;
    color: #dff2fa;
    background: #19799f;
    content: attr(data-title);
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -ms-transform: translateY(--18px);
}
#navMenu > ul > li:hover > a::before,
#navMenu > ul > li > a:hover::before {
    background: #3db2e1;
}
#navMenu.small-screen {
    width: 100%;
}
#navMenu.small-screen > ul,
#navMenu.small-screen.align-center > ul {
    width: 100%;
    text-align: left;
}
#navMenu.small-screen > ul > li,
#navMenu.small-screen.align-center {
    float: none;
    display: block;
    border-top: 1px solid rgba(100, 100, 100, 0.1);
}
#navMenu.small-screen > ul > li:hover > a,
#navMenu.small-screen > ul > li > a:hover {
    color: #dff2fa;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
    -ms-transform: none;
}
#navMenu.small-screen > ul > li > a::before {
    display: none;
}
#navMenu.small-screen #menu-button {
    display: block;
    padding: 16px 20px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #3db2e1;
}
#navMenu.small-screen #menu-button:after {
    content: "";
    position: absolute;
    right: 20px;
    top: 17px;
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    width: 22px;
    height: 3px;
}
#navMenu.small-screen #menu-button.menu-opened:after {
    border-top: 2px solid #dff2fa;
    border-bottom: 2px solid #dff2fa;
}
#navMenu.small-screen #menu-button:before {
    content: "";
    position: absolute;
    right: 20px;
    top: 27px;
    display: block;
    width: 22px;
    height: 2px;
    background: #ffffff;
}
#navMenu.small-screen #menu-button.menu-opened:before {
    background: #dff2fa;
}
.content{
    margin-top: 12px;
    padding: 12px;
    margin-left: auto;
    margin-right:  auto;
    width: 80%;
    -moz-box-shadow: -2px 15px 20px 0px #888888;
    -webkit-box-shadow: -2px 15px 20px 0px #888888;
    box-shadow: -2px 15px 20px 0px #888888;
}

.form_div{


    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
}
.form_help{
    min-height: 300px;
    background-color: rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.6);
    color: rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
}
 .space-left{
  margin-left: 5px;
}